xml-resources/web-service-references/WebServer/wsdl/localhost_29123/ServerTest/WebServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://syntech/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://syntech/" name="WebServer">
<wsp:Policy wsu:Id="WebServerPortBindingPolicy" />
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="WebServerPortBinding_delete_Policy">
<wsat:ATAssertion wsp:Optional="true" />
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://syntech/" schemaLocation="http://localhost:29123/ServerTest/WebServer?xsd=1" />
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update" />
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse" />
</message>
<message name="delete">
<part name="parameters" element="tns:delete" />
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse" />
</message>
<message name="insert">
<part name="parameters" element="tns:insert" />
</message>
<message name="insertResponse">
<part name="parameters" element="tns:insertResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<portType name="WebServer">
<operation name="update">
<input wsam:Action="http://syntech/WebServer/updateRequest" message="tns:update" />
<output wsam:Action="http://syntech/WebServer/updateResponse" message="tns:updateResponse" />
</operation>
<operation name="delete">
<input wsam:Action="http://syntech/WebServer/deleteRequest" message="tns:delete" />
<output wsam:Action="http://syntech/WebServer/deleteResponse" message="tns:deleteResponse" />
</operation>
<operation name="insert">
<input wsam:Action="http://syntech/WebServer/insertRequest" message="tns:insert" />
<output wsam:Action="http://syntech/WebServer/insertResponse" message="tns:insertResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://syntech/WebServer/helloRequest" message="tns:hello" />
<output wsam:Action="http://syntech/WebServer/helloResponse" message="tns:helloResponse" />
</operation>
</portType>
<binding name="WebServerPortBinding" type="tns:WebServer">
<wsp:PolicyReference URI="#WebServerPortBindingPolicy" />
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="update">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="delete">
<wsp:PolicyReference URI="#WebServerPortBinding_delete_Policy" />
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insert">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WebServer">
<port name="WebServerPort" binding="tns:WebServerPortBinding">
<soap:address location="http://localhost:29123/ServerTest/WebServer" />
</port>
</service>
</definitions>